[
  {
    "name": "example-project",
    "path": "/Users/username/WorkSpace/example-project",
    "command": "yarn dev",
    "codeCommand": "code .",
    "environments": [
      {
        "name": "Local",
        "url": "http://localhost:3000"
      },
      {
        "name": "Dev",
        "url": "https://dev.example.com"
      }
    ]
  },
  {
    "name": "another-project",
    "path": "/Users/username/WorkSpace/another-site",
    "command": "npm run dev",
    "codeCommand": "code .",
    "environments": []
  }
]
